# Ignore Visual Studio related files
.vs/
*.user
*.suo

# Ignore build results
bin/
obj/
**/bin/
**/obj/
*.exe
*.dll
*.pdb

# Ignore temporary/cache files
*.cache
*.db
*.vsidx
*.log
*.tmp
*.bak

# Ignore NuGet packages
*.nupkg
packages/
